<head>
  <!-- Base meta tags -->
  <meta charset="UTF-8">
  <title>
    {{ title }}
    | Home Group 2025
  </title>
  <meta name="language" content="english">
  <meta name="description" content="{{ description }}">

  <!-- Reassure the browser that we are mobile-friendly -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <meta name="HandheldFriendly" content="True">

  <!-- OpenGraph -->
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:site_name" content="Home Group 2025">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} | Home Group 2025">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="https://rgcvthomegroup.netlify.app/assets/img/og.png">

  <!-- Favicons -->
  <link rel="icon" href="/assets/favicon/favicon.ico">
  <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml" sizes="any">
  <link rel="apple-touch-icon" href="/assets/favicon/favicon-apple.png">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="manifest" href="/assets/manifest.json">
</head>
